# CMake
## Build directories
[Cc]MakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
CTestTestfile.cmake
CMakeUserPresets.json
Makefile
build.ninja
rules.ninja
*.cmake
*.ninja
*.dir/

## Common build directories
cmake-build-*/
build/
out/
bin/
obj/

## CTest / testing outputs
Testing/
*.cache
*.ctest
*.test
*.Test.xml

# Build artifacts
*.o
*.a
*.so
*.dll

# Debug files
*.gch
*.gcda
*.gcno
vgcore.*

# IDE specific
.vscode/
.cache/
.clangd
.idea/

# Logs
logs/
*.log

# OS specific
## macOS
.DS_Store
.AppleDouble
.LSOverride

## Thumbnails
._*

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump

# Linux
*~
.nfs*

# Binaries
*.out
*.exe
*.app
r-type_server
r-type_client
